.content{
	color: #002f4d;
}

.content span{
	color:#198b90;
}



.footer{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color:#002f4d;
		padding-top: 2px;
		padding-bottom: 2px;

	}


