{% extends 'base.html' %}

{% block bodyblock %}
	<!-- Content -->
	<div class="container">
		<!-- Head -->
			<br><br>
			<h3 class="content">Welcome to <span>FaceAI.com</span></h3>
		<!-- End Head -->


		<br><br>
		<h5>Product Description:</h5>
			<p class="contet">
				Current face recognition apps identify such details as:

				sex of the person;

				his approximate age;

				emotional state.
		    </p>
    
    	<h5>Applied Technologies:</h5>
			<p class="contet">
				Python 3, Django, Django REST Framework, Flask, Celery, MoviePy, ffmpeg, OAuth2, Java, Amazon S3, PostgreSQL, Redis, CI/CD (Docker, Docker Swarm, Jenkins), JavaScript, React, WebRTC (OpenTok), BarCode readers, UI/UX design, manual and automated API testing
	        </p>

		<h5>Data science and Machine Learning:</h5>
			<p class="contet">
				TensorFlow, Keras, dlib, OpenCV, Google Vision.
		    </p>		    
	</div>
	<!-- End Content -->

{% endblock %}
